option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "myAppId"
    MASTER_KEY: "myMasterKey"
    DATABASE_URI: "mongodb://<testdb>:<123456>@ds028540.mlab.com:28540/cashci"
    NODE_ENV: "production"
    SERVER_URL: "http://parse-test3.chinacloudsites.cn/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
